<canvas id="myCanvas" [width]="imageWidth" [height]="imageHeight" style="border: 1px solid black" (click)="canvasClick($event)"></canvas>
<img [src]="targetImage.src" [alt]="targetImage.alt">

<button type="button" name="button" (click)="logPixelData()">Log it</button>

<button type="button" name="button" (click)="debugLog($event)">Debug</button>

<button type="button" name="button" (click)="loadImage()">Load the image</button>

<button type="button" name="button" (click)="applyFilter(checkDarkness, targetImage, ctx)">Invert?</button>

<div class="">
  <label for="xCoord">X coordinate to start at</label>
  <input type="number" name="xCoord" (input)="starterXCoord = $event.target.value">
  <hr>
  <label for="yCoord">y coordinate to start at</label>
  <input type="number" name="yCoord" (input)="starterYCoord = $event.target.value">
  <button type="button" name="button" (click)="runTraverse()">Test traverser</button>
</div>
