<canvas id="myCanvas" [width]="imageWidth" [height]="imageHeight" style="border: 1px solid black" (click)="canvasClick($event)"></canvas>
<img [src]="targetImage.src" [alt]="targetImage.alt">

<button type="button" name="button" (click)="logPixelData()">Log it</button>

<button type="button" name="button" (click)="debugLog($event)">Debug</button>

<button type="button" name="button" (click)="loadImage()">Load the image</button>

<button type="button" name="button" (click)="applyFilter(invert, targetImage, ctx)">Invert?</button>
